<nav>
  <h1>Hi.</h1>
  <a href="/" id="photo">
    <img src="/photo.jpg" id="logo" alt="Me"/>
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>I'm a programmer from Warsaw, Poland.</p>
    <p>
      I just started working with <a href="http://odoo.com">odoo</a>. I use this blog to record bits of information about odoo, that where hard to come by when I originally needed them.
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
